<!-- Header -->
<div class="dairy-header">
  <h1 class="dairy-title">Write in dairy.</h1>
  <p class="lead dairy-description">Every day story never end so why not write all of your story online.</p>
</div>
  
<!-- Line Break -->
<hr><br/><br/>

<div class="form-container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-lg-6 form-group">
        <label for="name">Fullname</label>
        <input class="form-control">
      </div>
      <div class="col-lg-6 form-group">
        <label for="name">Title</label>
        <input class="form-control">
      </div>
      <div class="col-lg-12 form-group">
        <label for="text">Text</label>
        <textarea class="form-control" rows="8"></textarea>    
      </div>
      <div class="col-lg-12 form-group">
        <button class="btn btn-lg btn-success">Save Story</button>
      </div>
    </div>
  </form>
</div>

