<!-- Dairy Post -->
<div class="dairy-post" *ngIf="article">
  <h2 class="dairy-post-title">
    {{ article.title }}
    <sup><button class="btn btn-link" (click)="openUpdateModel()"><span class="fas fa-edit text-info"></span></button></sup>
    <sup><button class="btn btn-link" (click)="openDeleteModel()"><span class="fas fa-trash text-danger"></span></button></sup>
  </h2>
  <p class="dairy-post-meta">
    January 1, 2014 by <a href="#">{{ article.name }}</a> &ensp; 
  </p>
  <p>{{ article.text }}</p>
</div>

<!-- Edit Article Model -->
<div class="modal fade" id="modelArticleUpdate" tabindex="-1" role="dialog" *ngIf="article">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Updated Dairy Article</h4>
      </div>
      <div class="modal-body">
        <!-- Alert Box -->
        <div class="alert alert-{{ updateResponse?.status ? 'success' : 'danger' }} alert-dismissible fade in" role="alert" *ngIf="updateResponse">
          <button type="button" class="close" (click)="closeUpdatedResponse()">
            <span aria-hidden="true">×</span>
          </button>
          <strong>{{ updateResponse?.status ? 'succcess' : 'Fail' }}: </strong> {{ updateResponse?.message }}
          <p *ngIf="updateResponse?.data.id"><small>* {{ updateResponse?.data.id }}</small></p>
          <p *ngIf="updateResponse?.data.title"><small>* {{ updateResponse?.data.title }}</small></p>
          <p *ngIf="updateResponse?.data.text"><small>* {{ updateResponse?.data.text }}</small></p>
        </div>
        <!-- Form -->
        <form [formGroup]="form">
          <!-- Title -->
          <fieldset>
            <label for="title">Title</label>
            <input id="title" class="form-control" formControlName="title" [ngClass]="{'border-danger': form.controls.title.invalid && form.controls.title.dirty}">
            <p class="text-danger" *ngIf="form.controls.title.dirty">
              <small>
                <span *ngIf="form.controls.title.errors?.required">Your title is required.</span>
                <span *ngIf="form.controls.title.errors?.minlength">Title must have minimum length of {{ form.controls.title.errors?.minlength.requiredLength }}.</span>
                <span *ngIf="form.controls.title.errors?.maxlength">Title must have minimum length of {{ form.controls.title.errors?.maxlength.requiredLength }}.</span>
              </small>
            </p>
          </fieldset>
          <!-- Text -->
          <fieldset>
            <label for="text">Text</label>
            <textarea id="text" class="form-control" rows="8" formControlName="text" [ngClass]="{'border-danger': form.controls.text.invalid && form.controls.text.dirty}"></textarea>
            <p class="text-danger" *ngIf="form.controls.text.dirty">
              <small>
                <span *ngIf="form.controls.text.errors?.required">Your text is required.</span>
                <span *ngIf="form.controls.text.errors?.minlength">Text must have minimum length of {{ form.controls.text.errors?.minlength.requiredLength }}.</span>
                <span *ngIf="form.controls.text.errors?.maxlength">Text must have minimum length of {{ form.controls.text.errors?.maxlength.requiredLength }}.</span>
              </small>
            </p>
          </fieldset>
        </form>
      </div>
      <!-- Btn -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="update()" *ngIf="form.valid">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit Article Model -->
<div class="modal fade" id="modelArticleDelete" tabindex="-1" role="dialog" *ngIf="article">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p><strong class="text-danger">Delete Conformation</strong></p>
        <small class="text-muted">Title: {{ article.title }}</small>
      </div>
      <!-- Btn -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <button type="button" class="btn btn-" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->