<!-- Jumbotron -->
<div class="dairy-header">
  <h1 class="dairy-title">My Dairy</h1>
  <p class="lead dairy-description">Remimber the best event of the day and write them down forver.</p>
</div>

<!-- Line Break -->
<hr><br/><br/>

<!-- Articles -->
<div class="row">
  <div class="col-lg-12 dairy-main">
    <div *ngIf="articles$ | async as articles; else loading">
      <app-article *ngFor="let article of articles" [article]="article"></app-article>
      <ul class="pager" *ngIf="limit < total">
        <li>
          <button type="button" class="btn" (click)="loadMore()">More</button>
        </li>
      </ul>
    </div>
    <!-- Loading template -->
    <ng-template #loading>
      <div class="container loader">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <br/>
        <small>Loading Articles</small>
      </div>
    </ng-template>
  </div>
</div>
