<div class="dairy-masthead" [ngStyle]="{'background-color': color}">
  <div class="">
    <nav class="dairy-nav">
      <a class="dairy-nav-item" [routerLink]="['home']" [routerLinkActive]="'active'">
        <span class="fas fa-book"></span> Dairy
      </a>
      <a class="dairy-nav-item" [routerLink]="['create']" [routerLinkActive]="'active'">
        <span class="fas fa-pen"></span> Write
      </a>
      <a class="dairy-nav-item" [routerLink]="['settings']" [routerLinkActive]="'active'">
        <span class="fas fa-cog"></span> setting
      </a>
    </nav>
  </div>
</div>